@model DataTable
@using System.Data

<div>
    <h1>Excel Viewer</h1>
    <p>Upload an Excel document to view and change it from your browser.</p>
</div>

<!-- Displays the File and Upload buttons -->
<form asp-controller="Home" asp-action="Upload" method="post" enctype="multipart/form-data" class="upload-form">
    <label for="file" class="file-label">
        <span class="file-text">No file chosen</span>
        <input type="file" id="file" name="file" class="file-input" onchange="updateFileText(this)" />
    </label>
    <input type="submit" value="Upload" class="upload-button" />
</form>

<!-- Displays an error message if the wrong file type is uploaded or file access/path is denied -->
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert">
        @ViewBag.ErrorMessage
    </div>
}

<div class="description">
    <h3>Description</h3>
    <div class="box-container">
        <p>The Excel Viewer is an online tool that allows you to upload and view Excel documents right in your browser.</p>
        <p>Simply choose an Excel file, upload it, and the tool will display the contents of the spreadsheet in a table format. You can edit the cell values, add or remove rows, and even export the modified data back to Excel.</p>
        <p>With the Excel Viewer, you can easily review and make changes to your Excel documents without the need for specialized software. It's perfect for quickly viewing data, making updates, and collaborating with others.</p>
        <p>Give it a try by uploading your Excel file and start exploring your data in a user-friendly interface. Enjoy the convenience and simplicity of the Excel Viewer!</p>
    </div>
</div>
